---
import BaseLayout from '../../layouts/BaseLayout.astro';
import jsonData from '../../assets/data/bird_wildlife.json';
import Paginator from "../../components/Paginator.astro" ;
import PhotoCard from "../../components/PhotoCard.astro";
let title = 'Birds & Wildlife';
let description = 'Pictures from Nature and its beauty'
export async function getStaticPaths({ paginate }) {
  const photoPages = jsonData;
  // No need for JSON.parse since jsonData is already an array
  return paginate(photoPages, { pageSize: 12 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---
<BaseLayout content={{ title, description }} >
    <div class="p-4" data-pagefind-ignore>
        <h1 class="text-balance pb-4 text-4xl md:text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">{title}</h1>
        <p class="text-pretty text-justify prose md:prose-lg lg:prose-xl dark:prose-invert max-w-none">⚡For the latest snapshots, swing by my <a href="https://www.instagram.com/s.a.n.t.m/" target="_blank">Instagram</a>. The older ones are  out on <a href="https://www.flickr.com/photos/santm/albums" target="_blank">Flickr</a>. In the middle of tidying everything up in Google Albums, it is a bit of a construction zone at the moment! 🚧</p>
      </div>
    <div class="flex flex-wrap -mx-1 lg:-mx-4" data-pagefind-ignore="all">
        {
            page.data.map(({ title, link, img_src, description  }) => (
        <PhotoCard img_src={img_src} title={title} link={link} description={description}></PhotoCard>
      
           ))
          }
    </div>
    <Paginator page={page} /> 
</BaseLayout>