---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getCollection } from "astro:content";
import PostPreviewList from '../../../components/BlogListing.astro';
import Paginator from "../../../components/Paginator.astro";

export async function getStaticPaths({ paginate }: any) {
  const allPosts = await getCollection('blog');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
  const allYears = [...new Set(allPosts.flatMap((post) => post.data.pubDate.getFullYear()).flat())];
  return allYears.flatMap((year) => {
    const yearPosts = sortedPosts.filter((post) => post.data.pubDate.getFullYear() === year);
    return paginate(yearPosts, {
      params: { year },
      props: {
        yearName: year,
        posts: yearPosts,
      },
      pageSize: 10,
    });
  });
}
const { page } = Astro.props;
const { posts, yearName } = Astro.props;
const pageTitle = `Posts of ${yearName}`;
---
<BaseLayout pageTitle={pageTitle}>
                <div data-pagefind-ignore>
                    <h1 class="text-balance pb-4 text-4xl md:text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">{pageTitle}</h1>
                    <PostPreviewList posts={page.data} />
                    <Paginator page={page} />
                </div>   
</BaseLayout>