---
import BaseLayout from "../layouts/BaseLayout.astro";
import jsonData from "../assets/data/about_timeline.json";
const pathsData = jsonData.paths;
import { getImage } from "astro:assets";
import aarushAvatarPath from '../assets/avatars/aarush_profile.webp';
import pamelaAvatarPath from '../assets/avatars/pamela_profile.webp';
import santanuAvatarPath from '../assets/avatars/santanu_profile.webp';
const avatars = {
  aarush: aarushAvatarPath,
  pamela: pamelaAvatarPath,
  santanu: santanuAvatarPath,
};

const imageSizes = [320, 427, 533, 640];

const getImageSources = async (avatar) => {
  const imageSources = {};
  for (const size of imageSizes) {
    const avatarImage = await getImage({ src: avatar, width: size });
    imageSources[size] = avatarImage.src;
  }
  return imageSources;
};

const avatarImageSources = {};
for (const [avatarName, avatarPath] of Object.entries(avatars)) {
  avatarImageSources[avatarName] = await getImageSources(avatarPath);
}
//
---
<BaseLayout>
  <div class="relative">
    <!-- <div aria-hidden="true" class="flex absolute -top-48 start-0 -z-[1]">
      <div
        class="bg-purple-200 opacity-30 blur-3xl w-[1036px] h-[600px] dark:bg-purple-900 dark:opacity-20"
      >
      </div>
      <div
        class="bg-slate-200 opacity-90 blur-3xl w-[577px] h-[300px] transform translate-y-32 dark:bg-slate-800/60"
      >
      </div>
    </div>
    End Gradients -->
    <div class="max-w-[85rem] mx-auto">
      <div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
        <div class="space-y-5 md:space-y-8">
          <div class="space-y-3">
            <p
              class="prose md:prose-lg lg:prose-xl dark:prose-invert max-w-none"
            >
              We like to travel, make new friends and explore and understand
              diversity and cultures at its best. We try to do that along with
              day jobs. Check out our photos, travelog, random thoughts and
              creativity. <br />
            </p>
          </div>
        </div>
      </div>
<!-- -->
<div class="grid items-center gap-12 md:grid-cols-3">
  {Object.entries(avatarImageSources).map(([avatarName, sources]) => (
    <div class="space-y-4 text-center">
      <img
      key={avatarName}
      srcSet={`${sources[320]} 320w, ${sources[427]} 427w, ${sources[533]} 533w, ${sources[640]} 640w`}
      src={sources[640]}
      sizes="(max-width: 768px) 640px, (max-width: 1024px) 427px, (max-width: 1280px) 533px, 640px"
      class="mx-auto h-64 w-64 rounded-xl object-cover md:h-64 md:w-48 lg:h-80 lg:w-64"
      alt={avatarName}
      loading="lazy"
    />
    <div>
              <h4 class="capitalize text-2xl text-gray-700 dark:text-white">{avatarName}</h4>
            </div>
    </div>
    
    
  ))}
</div>

<!-- -->
      <div class="max-w-[85rem] mx-auto">
        <div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
          <div class="space-y-5 md:space-y-8">
            <div class="space-y-3">
              <!-- Timeline -->
              {
                jsonData.map((entry, entryIndex) => (
                  // Timeline item
                  <div>
                    <div class="ps-2 my-2 first:mt-0">
                      <h3 class="text-xs font-medium uppercase text-gray-500 dark:text-gray-400">
                        {entry.date}
                      </h3>
                    </div>
                    <div class="flex gap-x-3">
                      <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-gray-700">
                        <div class="relative z-10 w-7 h-7 flex justify-center items-center">
                          <svg
                            class="fill-purple-700 dark:fill-purple-200"
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox={entry.viewbox}
                          >
                            {entry.paths.map((path, pathIndex) => (
                              <path fill={path.fill} d={path.d} />
                            ))}
                          </svg>
                        </div>
                      </div>

                      <div class="grow pt-0.5 pb-8">
                        <h3 class="flex gap-x-1.5 font-semibold text-gray-800 dark:text-white">
                          {entry.title}
                        </h3>
                        <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">
                          {entry.description}{" "}
                        </p>
                      </div>
                    </div>
                  </div>

                  // End of Timeline item
                ))
              }

              <!-- End Timeline -->
            </div>
          </div>
          <!-- -->
        </div>
      </div>
    </div>
    
    <div class="max-w-[85rem] mx-auto">
      <div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
        <div class="space-y-5 md:space-y-8">
          <div class="space-y-3">
            <p
              class="prose md:prose-lg lg:prose-xl dark:prose-invert max-w-none"
            >
              Thank You! 🙏 for your time to read this far, little intrigued and
              a bit curious, what might be the reason behind the same 😎, be in
              touch.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>