---
const { title, link, img_src, alt, description, category, pubDate } = Astro.props;
const originalDate = new Date(pubDate);

// Define options for formatting
const options = {  month: 'short', day: 'numeric', year: 'numeric' };

// Format the date
const formattedDate = originalDate.toLocaleString('en-US', options);

//console.log(formattedDate);

---
  <!-- Card -->
  <div class="group flex flex-col h-full bg-clip-border shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:shadow-[0 10px 15px -3px rgba(255, 255, 255, 0.1), 0 4px 6px -2px rgba(255, 255, 255, 0.05)]">
    <div class="h-52 flex flex-col justify-center items-center rounded-t-xl">
      <img
        src={img_src} class="rounded-t-xl"
        alt={alt}
      />
    </div>
    <div class="p-4 md:p-6">
      <div class="mb-3">
        <p class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200">
          {category} 
        </p>
      </div>

      <a href={link}>
        <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">
          {title}
        </h3>
      </a>
      <p class="mt-3 text-gray-500">
        {description}
      </p>
    </div>
    <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-gray-700 dark:divide-gray-700">
      <span class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-es-xl bg-white text-gray-800 shadow-sm  disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white  dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
        {formattedDate}
      </span>
      <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-ee-xl bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 font-medium !text-blue-gray-900 !transition-colors hover:!text-pink-500" href={link}>
        Read More
      </a>
    </div>
  </div>
  <!-- End Card -->