---
import { Image } from 'astro:assets';
import hero1Img from  '../assets/hero_image/01.webp';
import hero2Img from  '../assets/hero_image/02.webp';
import hero3Img from  '../assets/hero_image/03.webp';
import hero4Img from  '../assets/hero_image/04.webp';
import hero5Img from  '../assets/hero_image/05.webp';
import hero6Img from  '../assets/hero_image/06.webp';
import hero7Img from  '../assets/hero_image/07.webp';
import hero8Img from  '../assets/hero_image/08.webp';
import hero9Img from  '../assets/hero_image/09.webp';
import hero10Img from  '../assets/hero_image/10.webp';
import hero11Img from  '../assets/hero_image/11.webp';
import hero12Img from  '../assets/hero_image/12.webp';
import hero13Img from  '../assets/hero_image/13.webp';
import hero14Img from  '../assets/hero_image/14.webp';
import hero15Img from  '../assets/hero_image/15.webp';
import hero16Img from  '../assets/hero_image/16.webp';
import hero17Img from  '../assets/hero_image/17.webp';
import hero18Img from  '../assets/hero_image/18.webp';
import hero19Img from  '../assets/hero_image/19.webp';
import hero20Img from  '../assets/hero_image/20.webp';
import hero21Img from  '../assets/hero_image/21.webp';
import hero22Img from  '../assets/hero_image/22.webp';
import hero23Img from  '../assets/hero_image/23.webp';
import hero24Img from  '../assets/hero_image/24.webp';
import hero25Img from  '../assets/hero_image/25.webp';
import hero26Img from  '../assets/hero_image/26.webp';
import hero27Img from  '../assets/hero_image/27.webp';
//
---
    <div class="grid md:grid-cols-2 md:items-center">
        <div>
          <div class="px-4 sm:px-6 lg:px-8">
            <h1 class="text-balance text-4xl lg:text-6xl font-extrabold text-transparent bg-gradient-to-r from-rose-500 to-violet-500 dark:from-blue-400 dark:via-indigo-500 dark:to-violet-800 bg-clip-text no-underline">
              Namaste
            </h1>
    
            <p class="font-light prose prose-lg lg:prose-xl dark:prose-invert max-w-none">
              In recent time this web site went under many changes and things should have changed for better.
              While it was a great learning and play ground for me, few things might broke down in that process.
            </p>
          </br>
            <footer class="italic prose-sm dark:prose-invert text-gray-500">
              Rocking the cyber world since the ancient times of 2020-Oct-13<span class="not-italic"> ! </span>
            </footer>
          </div>  
        </div> <!-- left side -->
        <!-- End Col -->
    
        <div class="w-full h-[20rem] sm:h-[30rem] lg:h-[35rem] overflow-hidden" style="perspective: 1000px;">
          <div class="grid grid-cols-3 gap-12 w-[60rem] sm:w-[80rem] lg:w-[50rem] h-[55rem] md:h-[90rem] lg:h-[75rem] overflow-hidden origin-[50%_0%]" style="transform: translate3d(7%, -2%, 0px) scale3d(0.9, 0.8, 1) rotateX(15deg) rotateY(-9deg) rotateZ(32deg);">
            <div class="grid gap-9 w-full h-[440px] animation-sliding-img-up-1">
              <Image src={hero1Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero2Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero3Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero4Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero5Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero6Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
            </div>
    
            <div class="grid gap-9 w-full h-[440px] animation-sliding-img-down-1">
              <Image src={hero7Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero8Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero9Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero10Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero11Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero12Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero13Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero14Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero15Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero16Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero17Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero18Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              
            </div>
    
            <div class="grid gap-9 w-full h-[440px] animation-sliding-img-up-2">
              <Image src={hero19Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero20Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero21Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero22Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero23Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero24Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero25Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero26Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
              <Image src={hero27Img} alt="A bird" class="w-full object-cover shadow-lg rounded-lg dark:shadow-gray-900/[.75]"/>
            </div>
          
          </div>
        </div>
        <!-- End Col -->
      </div>  <!-- End Grid -->

<style type="text/css">
    .animation-sliding-img-up-1 {
      animation: sliding-img-up-1 30s linear infinite;
    }
    
    .animation-sliding-img-up-2 {
      animation: sliding-img-up-2 30s linear infinite;
    }
    
    .animation-sliding-img-down-1 {
      animation: sliding-img-down-1 30s linear infinite;
    }
    /* HS Only  */
    
    @keyframes sliding-img-up-1 {
      0% {
        transform: translateY(0);
      }
    
      100% {
        transform: translateY(-722px);
      }
    }
    
    @keyframes sliding-img-up-2 {
      0% {
        transform: translateY(0);
      }
    
      100% {
        transform: translateY(-1098px);
      }
    }
    
    @keyframes sliding-img-down-1 {
      0% {
        transform: translateY(-1161px);
      }
    
      100% {
        transform: translateY(0);
      }
    }
    
    @keyframes sliding-img-down-2 {
      0% {
        transform: translateY(-1389px);
      }
    
      100% {
        transform: translateY(0);
      }
    }
    
    @media (min-width: 640px) {
      @keyframes sliding-img-up-1 {
        0% {
          transform: translateY(0);
        }
    
        100% {
          transform: translateY(-936px);
        }
      }
    
      @keyframes sliding-img-up-2 {
        0% {
          transform: translateY(0);
        }
    
        100% {
          transform: translateY(-1438px);
        }
      }
    
      @keyframes sliding-img-down-1 {
        0% {
          transform: translateY(-1511px);
        }
    
        100% {
          transform: translateY(0);
        }
      }
    
      @keyframes sliding-img-down-2 {
        0% {
          transform: translateY(-1135px);
        }
    
        100% {
          transform: translateY(0);
        }
      }
    }
    
    @media (min-width: 1024px) {
      @keyframes sliding-img-up-1 {
        0% {
          transform: translateY(0);
        }
    
        100% {
          transform: translateY(-615px);
        }
      }
    
      @keyframes sliding-img-up-2 {
        0% {
          transform: translateY(0);
        }
    
        100% {
          transform: translateY(-928px);
        }
      }
    
      @keyframes sliding-img-down-1 {
        0% {
          transform: translateY(-986px);
        }
    
        100% {
          transform: translateY(0);
        }
      }
    
      @keyframes sliding-img-down-2 {
        0% {
          transform: translateY(-928px);
        }
    
        100% {
          transform: translateY(0);
        }
      }
    }
    </style>
  