---
import Container from "./Container.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
const sortedPosts = allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate) as any; // Explicitly specify the type
  const dateB = new Date(b.data.pubDate) as any; // Explicitly specify the type
  return dateB - dateA;
});
const last4posts = sortedPosts.slice(0, 4);
//import BlogCard3 from "../components/BlogCard3.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---

<div id="features">
  <Container>
    <div class="relative pt-36 ml-auto">
      <div class="md:w-2/3 lg:w-1/2">
         <Icon name="phosphor/sparkle" class="text-xl inline-flex text-orange-500"></Icon>        
      </div>
      <h1
        class="pb-4 text-4xl md:text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"
      >
        Latest Blog Entries
      </h1>
      <!-- Grid -->
      <div
        class="mt-6 md:mt-12 grid sm:grid-cols-2 lg:grid-cols-4 gap-3 md:gap-6 lg:gap-3 xl:gap-6 lg:items-cente"
      >
      {last4posts.map((blogPostEntry, index) => (
        <article key={index} class="p-1 mx-auto my-4 max-w-sm rounded-xl bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500">
          <div class="bg-white dark:bg-slate-900 rounded-lg group flex flex-col h-full max-w-sm">
            <a href={`/blog/${blogPostEntry.slug}/`}><Image src={blogPostEntry.data.cover} alt={ blogPostEntry.data.coverAlt ? `${blogPostEntry.data.coverAlt}` : `generic alt text` } class="rounded-t-lg"/></a>
            <div class="p-4 md:p-6">
              <div class="mb-3">
                <p class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-200">
                  <a href={`/categories/${blogPostEntry.data.category}/`}>{blogPostEntry.data.category}</a>
                </p>
              </div>
              <a href={`/blog/${blogPostEntry.slug}/`}>
                <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">{blogPostEntry.data.title}</h3>
              </a>
              <p class="mt-3 text-gray-500">{blogPostEntry.data.description}</p>
            </div>
            <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-gray-700 dark:divide-gray-700">
              <span class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-xl bg-white text-gray-800 shadow-sm disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                <time dateTime={new Date(blogPostEntry.data.pubDate).toISOString()}>
                  {new Date(blogPostEntry.data.pubDate).toDateString()}
                </time>
              </span>
              <span class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-xl bg-white text-gray-800  dark:bg-slate-900 dark:text-white">
                <a href={`/blog/${blogPostEntry.slug}/`}>
                  Read more
                  <Icon name="phosphor/arrow-square-out" class="text-xl inline-flex"></Icon>
                </a>
              </span>
            </div>
          </div>
        </article>
      ))}
      
      </div><!-- Grid -->
    </div>
  </Container>
</div>
